# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos temporários
*.tmp
*.swp
~$*

# Arquivos de sistema
.Spotlight-V100
.Trashes

# Pastas de sistemas operacionais
__MACOSX/
